.pageSection:nth-of-type(1) {
  padding-top: 300px;
}

.pageSection:nth-of-type(3) {
  padding-top: 160px;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
}

.pageSection > .sectionWrapper:nth-of-type(2) {
  padding-top: 0;
}

.sectionWrapper > h2 {
  margin-left: 216px;
}

@media screen and (max-width: 1500px) {
  .sectionWrapper > h2 {
    margin: 0;
    justify-content: center;
    padding: 0 20px;
  }

  .pageSection:nth-of-type(1) {
    padding-top: 200px;
  }

  .pageSection:nth-of-type(3) {
    padding-top: 0;
  }

}

@media screen and (max-width: 700px) {
  .pageSection:nth-of-type(1) {
    padding-top: 60px;
  }
  .sectionWrapper:nth-of-type(1) {
    padding-top: 0;
  }

}
