.pageSection:nth-of-type(1) {
  padding-top: 100px;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  padding-top: 72px;
}

.sectionWrapper > h2 {
  margin-left: 216px;
}

@media screen and (max-width: 1500px) {
  .sectionWrapper > h2 {
    margin: 0;
    justify-content: center;
    padding: 0 20px;
  }

  .pageSection:nth-of-type(1) {
    padding-top: 100px;
  }
}

@media screen and (max-width: 700px) {
  .sectionWrapper:nth-of-type(1) {
    padding-top: 60px;
  }
}
